@import './variables.scss';
* {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: $light;
}
body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.container-fluid,
.row {
    margin: 0px !important;
    padding: 0px !important;
}
ul {
    list-style: none;
}
h1 {
    font-size: 4em;
    font-weight: $normal;
}
h2 {
    font-size: 2.5em;
    font-weight: $normal;
}
.no__margin {
    margin: 0px !important;
}
.no__padding {
    padding: 0px !important;
}
// CARD
.cr__center {
    margin: 20px;
    text-align: center;
}
.cr__card {
    width: 400px;
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
    padding: 20px;
}

// BUTTON
.button__margin {
    margin: 3px;
}
.button {
    cursor: pointer;
    color: $color_grey;
    display: block;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
}
.operators {
    @extend .button;
    height: 39px;
}
.numbers {
    @extend .button;
    height: 50px;
}
